@import "tailwindcss";

/* Estilo del titulo de eva*/
@font-face {
    font-family: "Thinkers";
    src: url("/font/AnyConv.com__Thinkers-6YZV1.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

