@import "tailwindcss";

footer {
    margin: 0; /* Asegura que no haya márgenes */
    padding: 0; /* Asegura que no haya rellenos adicionales */
  }
  
  footer .max-w-5xl {
    margin: 0; /* Evita márgenes adicionales en el contenedor principal */
    padding: 0; /* Elimina cualquier relleno extra */
  }
  
  footer ul {
    margin: 0; /* Elimina los márgenes de la lista */
    padding: 0; /* Elimina el relleno de la lista */
  }
  
  footer li {
    margin: 0; /* Elimina márgenes en los elementos de lista */
  }
  
  footer p {
    margin-top: 0; /* Elimina márgenes extra en el párrafo */
  }
  